<p>Welcome <%= @email %>!</p>

<p>This is your temporary password: <%= @password %></p>
<p>You can change it through the link below:</p>
<p><%= link_to "Change your password", "#" %></p>
<p>Otherwise, to login to the site, just follow this link : <%= @login %></p>
