<h1>Listing therapists</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @therapists.each do |therapist| %>
  <tr>
    <td><%= link_to 'Show', therapist %></td>
    <td><%= link_to 'Edit', edit_therapist_path(therapist) %></td>
    <td><%= link_to 'Destroy', therapist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Therapist', new_therapist_path %>
