<div class="row">
  <div class="span12">
    <h2>How's it going, <%= @therapist.name %>?</h2>
    <p>Check out your client's journals below</p>
    <h4>Client Journals</h4>
    <p><%= link_to @therapist.invited_by.name, user_path(@therapist.invited_by) %></p>
  </div>
</div>

<%= link_to 'Sign out', signout_path %>
