<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span12">
    <h2>How's it going?</h2>
    <p>Check out your client's journals below</p>
    <h4>Client Journals</h4>
    <a href="">Bob Raymond</a>
  </div>
</div>

<%= link_to 'Sign out', signout_path %>
