<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>acti0nman's profile &mdash; Spoutlets</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable-no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">
  </head>
  <body>
    <header>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <div class="row">
              <div class="span2 offset5">
                  <a href="index.html"
                     class="brand"><strong>Spoutlets</strong></a>
              </div>
              <div class="span3 offset2">
                <ul class="nav pull-right">

                  <li class="divider-vertical"><a href="#"><i class="icon-white
                                                                     icon-bookmark"></i></a></li>
                  <li class="dropdown"><a class="dropdown-toggle"
                                          data-toggle="dropdown"
                                          href="#"><i class="icon-user
                                                             icon-white"></i>
                      greatbillsofire<b class="caret"></b></a></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header>
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Top Bar -->
            <div class="row">
              <!-- Breadcrumbs -->
              <div class="span4 offset4">
                <!-- FIXME needs css override -->
                <ul class="breadcrumb" style="margin-bottom:0;">
                  <li><a href="index.html">Everybody's entries</a>
                  <span class="divider">/</span></li>
                  <li class="active"> acti0nman</li>
                </ul> 
              </div> <!-- end of Breadcrumbs -->
              <!-- Add an Entry -->
              <div class="span4">
                <!-- Button -->
                <button class="btn btn-primary pull-right"
                        type="button" data-toggle="modal"
                        data-target="#myModal"><i class="icon-plus
                                                         icon-white"></i> Add an entry
                </button> <!-- end of Button -->
                <!--- Modal --->
                <div class="modal fade hide" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">My Entry</h3>
                  </div>
                  <div class="modal-body">
                    <form>
                      <img src="http://placehold.it/290x300" alt="">
                      <label>Add text</label>
                      <textarea rows="3" placeholder="What placeholder
                                                      text should be added here"></textarea>
                      <label>Add color</label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option1" checked>
                        green
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        yellow
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        red
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        purple
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        black
                      </label>
                      <label>Tag entry</label>
                      <input type="text" placeholder="Text input">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <form class="pull-left">
                      <label class="checkbox">
                        <input type="checkbox"> Keep it to myself
                      </label>
                    </form>
                    <button type="submit" class="btn">Log it!</button>
                  </div>
                </div> <!-- end of Modal -->
              </div> <!-- end of Add a Modal -->
            </div> <!-- end of Top Bar -->
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h4><img src="http://www.placehold.it/32/5593F8" class="img-circle"/> acti0nman</h4>
        </div>
      </div>
      <!-- Timeline section -->
      <div class="row">
        <div class="span10">
	  <div id="my-timeline"></div>
        </div>
        <div class="span2">
          <div class="row">
            <div class="span2">
              <p><button type="submit" class="btn btn-mini">Comment</button></p>
              <i class="icon-arrow-right"></i><a href=""><small> 3 comments</small></a>
            </div>
          </div>
        </div>
      </div> <!-- end of Timeline section -->
      <!-- Comment section -->
      <div class="row">
        <div class="well span7">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>I remember, something like that happened to me
                  before. I was stunned but also relieved.</p>

                  <a href="#"><i class="icon-user"></i> Wichelle</a></td>
              </tr>
              <tr>
                <td>
                  <p>that sucks, but just hope for the best. Maybe it
                  will turn around, you never know.</p>
                  <a href="#"><i class="icon-user"></i> jenniferjuniper</a></td>
              </tr>
              <tr>
                <td>
                  <p>Things happen for a reason, don't worry about it.</p>
                  <a href="#"><i class="icon-user"></i> takemeaway</a></td>
              </tr>
              <tr>
                <td>
                  <p><a href="#"><i class="icon-user"></i> greatbillsofire</a></p>
                  <textarea class="input-xlarge" rows="6" placeholder="Add a comment..."></textarea>
                  <p><button type="submit" class="btn">Comment</button></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- end of Comment section -->
    </div>
    <script src="../public/js/jquery-1.8.1.js"></script>
    <script src="../public/js/bootstrap.js"></script>
    <!-- BEGIN TimelineJS -->
    <script type="text/javascript" src="../public/compiled/js/storyjs-embed.js"></script>
    <script>
      $(document).ready(function() {
      createStoryJS({
      type:		'timeline',
      width:		'100%',
      height:		'600',
      source:		'example_json.json',
      embed_id:	        'my-timeline',
      start_at_end:     true,
      start_zoom_adjust: '3'
      });
      });
    </script>
    <!-- END TimelineJS -->
  </body>
</html>
