<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spoutlets &mdash; vent your feelings</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable-no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">
  </head>
  <body>
    <header>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <div class="row">
              <div class="span2">
                  <a href="index.html"
                     class="brand"><strong>Spoutlets</strong></a>
              </div>
              <div class="span7 offset3">

                <ul class="nav pull-right">
                  <li><a href="#"><i class="icon-white
                                            icon-bookmark"></i> my therapist</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#"><i class="icon-white
                                            icon-bookmark"></i> my peers</a></li>
                  <li class="divider-vertical"></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"><i class="icon-user
                                                        icon-white"></i>
                      my storyline <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Settings</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header>
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Top Bar -->
            <div class="row">
              <!-- Breadcrumbs -->
              <div class="span8">
                <!-- FIXME needs css override -->
                <ul class="breadcrumb" style="margin-bottom:0;">
                  <li class="active">Everybody's entries</li>
                </ul>
              </div> <!-- end of Breadcrumbs -->
              <!-- Add an Entry -->
              <div class="span4">
                <!-- Button -->
                <button class="btn btn-primary pull-right"
                        type="button" data-toggle="modal"
                        data-target="#myModal"><i class="icon-plus
                                                         icon-white"></i> Add an entry
                </button> <!-- end of Button -->
                <!--- Modal --->
                <div class="modal fade hide" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Jan 13 2013 entry</h3>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal">
                      <div class="control-group">
                        <label class="control-label">Describe what's going on with you</label>
                        <div class="controls">
                          <textarea rows="5" class="input-xlarge" placeholder="Write a bit about what happened, something you did, or how you're feeling... "></textarea>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Upload an image capturing your feelings</label>
                        <div class="controls">
                          <input type="file" onchange="if (this.value) {
                                                       $('#localSpinner').show();
                                                       filepicker.uploadFile(this, function(data){
                                                       $('#localResult').text(JSON.stringify(data));
                                                       $('#localSpinner').hide();
                                                       });
                                                       }
                                                       "/>

                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">What's your mood?</label>
                        <div class="controls">
                          <label class="radio inline">
                            <input type="radio" name="optionRadios" value="yellow"> yellow
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="optionRadios" value="green"> green
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="optionRadio" value="blue"> blue
                          </label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <form class="pull-left">
                      <label class="checkbox inline">
                        <input type="checkbox"> Keep it to myself
                      </label>
                      <label class="checkbox inline">
                        <input type="checkbox" checked> Open to comments
                      </label>
                    </form>
                    <button type="submit" class="btn btn-primary">Log it!</button>
                  </div>
                </div> <!-- end of Modal -->
              </div> <!-- end of Add a Modal -->
            </div> <!-- end of Top Bar -->
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <h3>My Peer's Journal Entries</h3>
      <div class="row">
        <div class="span9">
          <!-- Entry -->
          <div class="well">
            <div class="row">
              <div class="span1">
                  <span class="badge badge-info">14</span> <br />
                  <span class="text-info"> been there</span>  

              </div>
              <div class="span4">
                <br />
                <p><small>Yesterday, I overcame most of my anxiety issues to get
                    this done. It represents a massive change in my life and I
                    wanted to share it. Anxiety has caused me to never do
                    anything remotely interesting, especially if it's
                    something that has the potential to cause pain. Being able
                    to see the entire tattoo process through, including the
                    waiting which was BY FAR the worst bit, just proves to
                    myself that I can actually do something like
                    this.</small></p>
                <ul class="nav nav-list">
                  <li class="divider"></li>
                </ul>

              </div>

              <div class="span1">
                <br />
                <span class="muted"><small>12 hours ago</small></span>
              </div>
              <div class="span2">

                <span class="label">Anxiety</span>
              </div>
            </div>

            <div class="row">
              <div class="span4">

                <p class="muted"> <small>shared
                    by <a href="#"><i class="icon-user"></i>
                      anxiousrabbittoid</a></small></p>
              </div>
              <div class="span2 offset2">
                <button class="btn btn-mini"
                type="button"><i class="icon-ok"></i> been there</button>

              </div>
            </div>



          </div> <!-- end of Entry -->
          <!-- Entry -->
 <!-- end of Entry -->
          <!-- Entry -->
<!-- end of Entry -->
        </div>

        <!-- Common Issues -->
        <div class="span2">
          <h4>Common Issues</h4>
          <span class="label">Anxiety</span>
          <span class="label">romantic issues</span>
          <span class="label">room mate</span>
          <span class="label">sexuality</span>
          <span class="label">future worries</span>
          <span class="label">diet</span>
          <span class="label">feeling lonely</span>
        </div> <!-- end of Common Issues -->
      </div>
    </div>
    <script src="../public/js/jquery-1.8.1.js"></script>
    <script src="../public/js/bootstrap.js"></script>
  </body>
</html>
