<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spoutlets &mdash; Main Page</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable-no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">
  </head>
  <body>
    <header>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <div class="row">
              <div class="span7">
                <div class="pull-right">
                  <a href="index.html"
                     class="brand"><strong>Spoutlets</strong>.com</a>
                </div>
              </div>
              <div class="span5">
                <ul class="nav pull-right">

                  <li class="divider-vertical"><a href="#"><i class="icon-white
                                                                     icon-bookmark"></i></a></li>
                  <li class="dropdown"><a class="dropdown-toggle"
                                          data-toggle="dropdown"
                                          href="#"><i class="icon-user
                                                             icon-white"></i>
                                          greatbillsofire<b class="caret"></b></a></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header>
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <div class="row">
              <div class="span4">
                <button class="btn btn-primary pull-left"
                        type="button" data-toggle="modal"
                        data-target="#myModal"><i class="icon-plus
                                                         icon-white"></i> Add an entry
                </button>
                <!--- Add an entry Modal --->
                <div class="modal fade hide" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">My Entry</h3>
                  </div>
                  <div class="modal-body">
                    <form>
                      <img src="http://placehold.it/290x300" alt="">
                      <label>Add text</label>
                      <textarea rows="3" placeholder="What placeholder
                      text should be added here"></textarea>
                      <label>Add color</label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option1" checked>
                        green
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        yellow
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        red
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        purple
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="optionsRadios" value="option2">
                        black
                      </label>
                      <label>Tag entry</label>
                      <input type="text" placeholder="Text input">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <form class="pull-left">
                    <label class="checkbox">
                      <input type="checkbox"> Keep it to myself
                    </label>
                    </form>

                    <button type="submit" class="btn">Log it!</button>
                  </div>
                </div>
              </div>
              <div class="span5">
                <ul class="nav">
                  <li><a href="#">Peers you follow</a></li>
                  <li class="divider-vertical"><a href="#">Everyone</a></li>
                  <li class="dropdown"><a class="dropdown-toggle"
                                          data-toggle="dropdown"
                                          href="#">Mood colors
                      <b class="caret"></b></a></li>
                </ul>
              </div>
              <div class="span3">
                <ul class="nav span3">
                  <form class="navbar-search pull-right">
                    <input type="text" class="search-query
                                              input-medium"
                           placeholder="e.g. anxiety">
                  </form>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img src="http://i.imgur.com/nkuXH.jpg" alt="">
            <p class="caption"><small>After years of crippling
            anxiety, I'm getting help. Went to a doc, adopting a
            therapy cat, learning.</small></p>
            <p class="caption"> <small>shared
                      by <a href="#"><i class="icon-user"></i> MichigandergoneIowan</a></small></p>
            <table class="table table-striped caption">
              <tbody>
                <tr>
                  <td><p><small>You are not alone, my friend. I did
                  something similar</small></p>
                    <a href="#"><i class="icon-user"></i> <small>CoffeeMan420</small></a></td>
                </tr>
                <tr>
                  <td>
                    <p><small>same here.</small></p>
                    <a href="#"><i class="icon-user"></i> <small>HallowedBeTheySlave</small></a></td>
                </tr>
                <tr>
                  <td><a href="#"><small>all 36 comments</small></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img src="http://i.imgur.com/66guT.png" alt="">
            <p class="caption"><small>Sometimes I draw silly pictures
            of what my anxiety looks like and make fun of the
            drawing. What are some things you do to help with your anxiety?</small></p>
            <p class="caption"> <small>shared
                      by <a href="#"><i class="icon-user"></i>
                      tarotblades</a></small></p>
            <table class="table table-striped caption">
              <tbody>
                <tr>
                  <td><p><small>Things that help um, CBT therapy, and
                  writing down how you feel and what you are thinking ...
                       </small></p>
                    <a href="#"><i class="icon-user"></i> <small>callisto_orange</small></a></td>
                </tr>
                <tr>
                  <td>
                    <p><small>go for a run :) it releases endorphins and gets out
                    all of your nervous energy!</small></p>
                    <a href="#"><i class="icon-user"></i> <small>ANX-FTW</small></a></td>
                </tr>
                <tr>
                  <td><a href="#"><small>all 36 comments</small></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img src="http://i.imgur.com/jWWsM.jpg" alt="">
            <p class="caption"><small>Yesterday, I overcame most of my
            anxiety issues to get this done. It represents a massive
            change in my life and wanted to share.</small></p>
            <p class="caption"> <small>shared
                by <a href="#"><i class="icon-user"></i> anxiousrabbittoid</a></small></p>
            <table class="table table-striped caption">
              <tbody>
                <tr>
                  <td><p><small>congrats. good to see people overcome
                      things like that. maybe there's hope for myself
                      (not anxiety problems, but other shit).</small></p>
                    <a href="#"><i class="icon-user"></i> <small>booze-a-holic</small></a></td>
                </tr>
                <tr>
                  <td>
                    <p><small>Very nice, that tattoo looks nice. Very clean lines. And
                      congrats on becoming pro-active with your life :)
                     </small></p>
                    <a href="#"><i class="icon-user"></i> <small>HallowedBeTheySlave</small></a></td>
                </tr>
                <tr>
                  <td><a href="#"><small>all 36 comments</small></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <script src="../public/js/jquery-1.8.0.js"></script>
    <script src="../public/js/bootstrap.js"></script>
  </body>
</html>
